*{box-sizing:border-box;}

body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  background:#f8fafc;
}

/* HEADER */
.app-header{
  text-align:center;
  padding:10px;
  background:white;
  border-bottom:2px solid #e5e7eb;
}

.app-header h1{
  color:#16a34a;
  margin:3px;
}

.app-header h2{margin:2px;font-size:14px;}
.app-header p{margin:2px;font-size:12px;color:#64748b;}

/* LOGIN */
.center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:70vh;
}

.login-card{
  background:white;
  padding:25px;
  border-radius:12px;
  width:300px;
  text-align:center;
}

/* CONTAINER */
.container{
  padding:15px;
  padding-bottom:80px;
}

/* STATS */
.stats{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

.stats div{
  flex:1;
  background:white;
  padding:10px;
  border-radius:10px;
  text-align:center;
}

/* SEARCH */
.search{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:1px solid #ddd;
  margin-bottom:15px;
}

/* CARD */
.card{
  background:white;
  padding:12px;
  border-radius:10px;
  margin-bottom:10px;
}

.card h3{color:#16a34a;}

.status{
  padding:4px 8px;
  border-radius:10px;
  font-size:12px;
}

.available{background:#dcfce7;}
.issued{background:#fee2e2;}
.returned{background:#dbeafe;}

button{
  padding:10px;
  border:none;
  border-radius:10px;
  background:#16a34a;
  color:white;
  width:100%;
}

/* FORM */
.form input,.form select,.form textarea{
  width:100%;
  margin:8px 0;
  padding:10px;
}

/* MOBILE NAV */
.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:white;
  padding:10px;
}
